<h1> DONOR INFORMATION </h1>
<%= form_for @donor do |f| %>
<%= render 'errors' %><br>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br>
    <%= f.label :email %>
    <%= f.text_field :email %><br>
    <%= f.submit "JOIN" %>

<% end %>