<h1> DONOR INFORMATION </h1>
<%= form_for @donor do |f| %>
<%= render 'errors' %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br>
    <%= f.label :email %>
    <%= f.text_field :email %><br>
    <%= f.submit "JOIN" %>

<% end %>
<br>
If you are a returning donor visit link below <br>
<%= link_to  "Log In Page",  login_path %>