<h1>DONOR</h1> 
<h2> <%= @donor.name %> </h2>
<p> <%= @donor.email %> </p>

<%= link_to  "Make a donation", new_donor_donation_path(@donor) %><br>
<%=  link_to "Logout", '/logout' %><br>
<%= link_to "Delete Account", @donor, method: :delete %>