<h1>DONOR INFO </h1> 
<h3>NAME: <%= @donor.name %> </h3>
<h3> EMAIL:<%= @donor.email %> </h3>

<%= link_to  "Make a donation", new_donor_donation_path(@donor) %><br>
<%= link_to "Logout", '/logout' %><br>
<%= link_to "Delete Account", @donor, method: :delete %>