<h1>Log In</h1>


<%=form_for :donor do |f|%>
  <%=f.label "Name" %>
  <%=f.text_field :name %><br>
  <%=f.label "Password" %>
  <%=f.password_field :password %><br>

  <%=f.submit "Login"%>
  <%end%>
<%= link_to "GITHUB login", 'auth/github/callback' %>