<h2> <%= @donor.name %>'s Donation List </h2>

<table>
    <tr>
    <th> Donor </th>
    <th> Amount </th>
    <th> Date </th>
    </tr>
 <% @donor.donations.collect do |d|%>
    
    <tr>
    <td> <%= link_to d.charity.name, charity_donations_path(d.charity)%>  </td> 
    <td > $<%= d.amount %> </td>
    <td> <%= d.created_at.strftime("%-m-%d-%y")%> </td>
    </tr>
<%end%>
    </table>
    </body>
    </html>
    <h2> Total Amount Of Your Donations:<span style="color:red;" > $<%=@donor.donations.donor_total%></span></h2>

 <%= link_to  "Make a new donation", new_donor_donation_path %><br>
 <%=  link_to "Logout", '/logout' %><br