<h1>ENTER YOUR CHARITY OF CHOICE</h1>

<%= form_for @donation do |f| %>
<%= f.label "Donation Amount: $" %>
<%= f.number_field :amount %>

<%= collection_select(:donation, charity_id, Charity.all, :id, :name, {}, {:multiple => false}) %>

    <%= f.submit %>
 <% end %>   

