<h1>DONATION SUBMISSION</h1>

<%= form_for @donation do |f| %>
<%= f.hidden_field :donor_id %>
<%= f.label "Donation Amount: $" %>
<%= f.number_field :amount %><br>

<p> Select a Charity</p>
<%
=begin%>
 <%= datalist :charity, :name, Charity.all, :name, :name %><br><br>  
<%
=end%>

<%= f.fields_for :charity  do |char| %>
    <%= char.label "Charity Name"%>
    <%= char.text_field :name, list: "charities_autocomplete" %><br>
    <datalist id="charities_autocomplete">
    <%Charity.all.each do |c| %>
    <option value="<%= c.name %>">
    <%end%>
    </datalist>
    <%= char.label "Email"%>
    <%= char.text_field :email %><br>
    <% end %>
<%= f.submit "Submit Donation"%>
 <% end %>   