<h2>DONATION SUBMISSION</h2>

<%= form_for @donation do |f| %>
<%= render 'errors' %>
<%= f.hidden_field :donor_id %>
<%= f.label "Donation Amount: $" %>
<%= f.number_field :amount %><br>

<p> Select a Charity:</p>

<%= f.fields_for :charity  do |char| %>
   
    <%= char.label "Charity Name"%>
    <%= char.text_field :name, list: "charities_autocomplete" %><br>
    <datalist id="charities_autocomplete">
    <%Charity.all.each do |c| %>
    <option value="<%= c.name %>">
    <%end%>
    </datalist>
    <% end %>
<%= f.submit "Submit Donation"%><br><br>
<%=  button_to "Mypage", donor_path(@donor) %>
 <% end %>   