<h1> Enter Your Charity's Info </h1>

<%= form_for @charity do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.submit %>
<% end %>