<h2>  Create Or Select a Charity </h2>
<p>Submit a new charity </p>
<%= form_for @charity do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :email %>
    <%= f.text_field :email %><br><br>
    
    <p> Select a Charity</p>
    <%= collection_select(:charity, :name, Charity.all, :name, :name) %><br><br>
    <h2>Donor Info </h2>
    <%= f.fields_for :donor do |d| %>
    <%= d.label "Name" %>
    <%= d.text_field :name %><br>
    <%= d.label "Email" %>
    <%= d.text_field :email %><br>
    <%end%>
<br>
    <%= f.fields_for :donation do |d| %>
    <%= d.label "Amount" %>
    <%= d.number_field :amount %><br>
    <%end%>
    <%= f.submit "SUBMIT"%>
<% end %>